body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: forestgreen;
}

.logo {
    margin-top: 20%;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #fec201;
    border-radius: 50%;
}

.square {
    width: 100px;
    height: 100px;
    border: 12px solid black;
    position: absolute;
    top: 51px;
    left: 38px;
}

.roof {
    z-index: 2;
    width: 0;
    height: 0;
    position: absolute;
    bottom: 110px;
    border-top: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid black;
    border-left: 100px solid transparent;
}

.door {
    width: 23px;
    height: 50px;
    background: green;
    position: absolute;
    bottom: 40px;
    left: 60px;
}

.pipe {
    z-index: 3;
    width: 7px;
    height: 20px;
    background: black;
    position: absolute;
    bottom: 170px;
    left: 130px;
}

.window {
    width: 30px;
    height: 30px;
    background: green;
    position: absolute;
    bottom: 60px;
    left: 100px;
}